@using DanM.HrSystem.Contracts.Employees
@using DanM.HrSystem.Web.Client.Framework
@attribute [Route(HrNavigationRoutes.Employees.EmployeeList)]
@inherits ListPageBase<EmployeeListData>

<h4>Zaměstnanci</h4>
<HxCard>
	<BodyTemplate>
		<AuthorizeView>
			<Authorized>
				<EmployeeGridTable />
			</Authorized>
			<NotAuthorized>
				<h6>NotAuthorized</h6>
				<p><label>User?.ToString()</label> @context.User?.ToString()</p>
			</NotAuthorized>
			<Authorizing>
				<h6>Authorizing</h6>
			</Authorizing>
		</AuthorizeView>
	</BodyTemplate>
</HxCard>