@attribute [Route(HrNavigationRoutes.Employees.EmployeeList)]
<h4>Diagnostic Information Page</h4>
<HxCard>
	<HeaderTemplate>
		<h5>AuthorizationView</h5>
	</HeaderTemplate>
	<BodyTemplate>

		<AuthorizeView>
			<Authorized>
				<h6>Authorized</h6>
				<EmployeeGridTable />
			</Authorized>
			<NotAuthorized>
				<h6>NotAuthorized</h6>
				<p><label>User?.ToString()</label> @context.User?.ToString()</p>
			</NotAuthorized>
			<Authorizing>
				<h6>Authorizing</h6>
			</Authorizing>
		</AuthorizeView>
	</BodyTemplate>
</HxCard>