@using DanM.Core.Web.Client.FwPages
@using DanM.HrSystem.Contracts.Employees
@attribute [Route(HrNavigationRoutes.Employees.EmployeeList)]
@inherits ListPageBase<EmployeeListData>
<CascadingValue Name="PageShare" Value="@this.CurrentPageShare">
	<ListMasterpage Data="@Data">
		<TitlePanel>
			<h4>Zaměstnanci</h4>
		</TitlePanel>
		<FilterPanel>
			<TextBox Data="@Data.tbxNameLike" />
		</FilterPanel>
		<ContenTemplate>
			<EmployeeGridTable Data="@Data.lstMainGrid" />
		</ContenTemplate>
	</ListMasterpage>
</CascadingValue>
