@using DanM.Core.Contracts.ControlDatas
@using DanM.Core.Web.Client.FwControls
@namespace DanM.Core.Web.Client.Controls
@inherits DataControlBase<ActionButtonizerData>

<div class="d-flex">
	<div class="d-lg-flex gap-1 ms-lg-auto flex-grow-1 flex-lg-grow-0">
@foreach (var action in this.Data.Actions)
{
	<HxButton Text="@action.Text" CssClass="w-100"
		OnClick="async (args) => await this.OnClickInvokedAsync(action)"
		Color="ThemeColor.Primary" />
}
	</div>
</div>