@using DanM.Core.Contracts.ControlDatas
@using DanM.Core.Web.Client.FwControls
@using Microsoft.AspNetCore.Components.Sections
@namespace DanM.Core.Web.Client.Controls
@inherits CaptionControlBase<TextControlData>

<CaptionControlWrapper CaptionControl="@this">
	<ElementContent>
		@if (@Data.IsEditable)
		{
			<HxInputText @bind-Value="@Data.Text" />
		}
		else
		{
			<div>@Data.Text</div>
		}
	</ElementContent>
</CaptionControlWrapper>